.hyperlink-sortable-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hyperlink-sortable-item {
    display: flex;
    gap: 8px;
    align-items: start;
    background: white;
    padding: 8px;
    border-radius: 4px;
    margin: -8px;
    box-sizing: content-box;
}

.hyperlink-sortable-item.draggable-source--is-dragging {
    opacity: 0.5;
}

.hyperlink-sortable-item.draggable-mirror {
    background: white;
    box-shadow: 0 0 0 1px rgba(0 0 0 / 0.1), 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.hyperlink-sortable-item-handle {
    cursor: grab;
}

.hyperlink-wrapper {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.hyperlink-config {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.hyperlink-type {
    width: 160px;
}

.hyperlink-input-text,
.hyperlink-input-url {
    flex: 1;
    min-width: 200px;
}

.hyperlink-options {
    display: flex;
    flex-flow: column;
    gap: 4px;
}

.hyperlink-label {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.6;
}

.hyperlink-options-inputs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 4px 8px;
}
